
.ShadeButton {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d9dcd6;

    cursor:pointer;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: rgb(45, 157, 255);

}

.ShadeButton:hover {
    background-color: rgb(182, 180, 184);
    border-radius: 20px;
}

.ShadeButton-active {
    border-bottom: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: blueviolet;
}