body {font-family: Arial, Helvetica, sans-serif;}

.contact-me {
  font-family: 'nunito','sans serif';
  font-size: 48px;
  font-weight: 800;
  text-shadow: 3px 3px 50px black, 0 0 50px blue, 0 0 15px darkblue;
}

.form-container {
  text-align: left;
  margin-top: 50px;
  display: flex;
  justify-content:center;
}

.type-text {
  font-size: larger;
}

.input-box {
  width: 80%;
  height:30px;
}
