/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_zindex */

  .main-container {
    margin-right: 60px;

  }

  .home-images {
    text-align: center;
    z-index: -1;
  }
  
  .home-text-left {
    /*position: absolute;
    top:200px;*/
    text-align: center;
    list-style: none;
    font-family: 'nunito','sans serif';
    font-weight: 200;
    font-size: 18px;    
    text-shadow: 20px 20px 50px black, 0 0 75px blue, 0 0 15px darkblue;
  }

  .home-drchen {
    text-align: center;
    font-family: 'nunito','sans serif';
    font-size: 48px;
    font-weight: 800;
    text-shadow: 3px 3px 50px black, 0 0 50px blue, 0 0 15px darkblue;
  }

  .home-text-right {
    right:0;
    text-align: center;
    list-style: none;
    font-family: 'nunito','sans serif';
    font-weight: 200;
    font-size: 18px;    
    text-shadow: 20px 20px 50px black, 0 0 75px blue, 0 0 15px darkblue;
  }
