:root {
    --black:black;
    --border:6px solid red;
}

h3 {
    color: white;
}

.works {
    display:flex;
    margin-top: 60px;
}

.top,
.bottom {
    /*define height*/
    opacity: 50%;
    border-style: solid;
    border-color:cornsilk;
    border-width: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
    position:relative;
    display: flex;
}

.group_a,
.group_b,
.individual_a,
.individual_b,
.individual_c,
.individual_d {
    position:absolute;
    left:0;
    top:50%;
    background-color: red;
    color: white;
    width: fit-content;
    padding-left: 5px;
}

.group_a span,
.group_b span,
.individual_a span,
.individual_b span,
.individual_c span,
.individual_d span {
    font-size:large;
    font-weight:lighter;
}

.middle {
    display:flex;
}

.individual_a,
.individual_b,
.individual_c,
.individual_d {
    font-size:large;
    text-decoration:none;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.right {
    margin-right:0px;
    margin-left:5px;
}

.left section,
.right section {
    /*define height*/
    opacity: 50%;
    border-style: solid;
    border-color:cornsilk;
    border-width: 7px;
    margin-bottom: 24px;
    margin-left: 5px;
    position:relative;
    display:flex;
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:0.8;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:0.8;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:0.8;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:0.8;
    }
} 

.top:hover,
.bottom:hover,
.left section:hover,
.right section:hover {
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@media screen and (max-width: 992px) {

    .works {
        display:block;
    }

    .apps {
        margin-top: 20px;
    }

    .middle {
        flex-wrap: wrap;
    }

    .left {
        margin-right: 0px;
}

    .right {
        margin-left:0px;
}
}

