body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9dcd6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items:center;
}

.font-base {
  font-size: 1rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.footer{
  margin-right: 60px;
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  right: 0;
}

.social {
  position:fixed;
  bottom:0;
  right:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.socialicon {
  cursor: pointer;
}

.navbar {
  margin-right: 60px;
}


.App-logo {
  width:50px;
  height:50px;
  border-radius: 50%;
}
